# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystems are summarized

**Objectives:**
* Popular languages used by Data Scientist
* Popular libraries used by Data Scientist
* Popular Data Science Tools
* Arithmetic Operations
* Conversion using arithmetic

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Julia

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Numpy
3. Matplotlib
4. Seaborn
5. Keras

| Data Science Tools |
| --- |
|Apache Spark|
|Apache Hadoop|
|Tableau|

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [6]:
#This will convert 200 minutes to hours by diving by 60
print(str(200/60)+' hrs')

3.3333333333333335 hrs

## Author
Ved Mistry